@import './reset.css';
@import './dropdown.css';

:root {
  --main-bg-color: rgb(255 255 255);
  --secondary-bg-rgb-values: 248 246 240;
  --secondary-bg-color: rgb(var(--secondary-bg-rgb-values));
  --primary-font-color: black;
  --secondary-font-color: rgb(93 93 93);
  --highlight-color: #d74057;
  --highlight-color-disabled: rgb(224 131 145);
  --priority-default-rgb-values: 170 218 246;
  --priority-low-rgb-values: 85 192 13;
  --priority-mid-rgb-values: 244 202 16;
  --priority-urgent-rgb-values: 249 11 47;
  --priority-default: rgb(var(--priority-default-rgb-values));
  --priority-low: rgb(var(--priority-low-rgb-values));
  --priority-mid: rgb(var(--priority-mid-rgb-values));
  --priority-urgent: rgb(var(--priority-urgent-rgb-values));
  --button-hover-color: #ddd;
  --default-border-color: #cbcbcb;
  --dueDate-default-color: rgb(137, 34, 137);
}

/* Style reference https://moderncss.dev/pure-css-custom-checkbox-style/ */
body.dark {
  color: var(--primary-font-color);
  --primary-font-color: #fff;
  --secondary-font-color: #a7a7a7;
  --main-bg-color: rgb(48, 49, 57);
  --secondary-bg-rgb-values: 33 33 35;
  --secondary-bg-color: rgb(var(--secondary-bg-rgb-values));
  --button-hover-color: #666;
  --priority-default-rgb-values: 170 218 246;
  --priority-low-rgb-values: 85 192 13;
  --priority-mid-rgb-values: 244 202 16;
  --priority-urgent-rgb-values: 249 11 47;
  --priority-default: rgb(var(--priority-default-rgb-values));
  --priority-low: rgb(var(--priority-low-rgb-values));
  --priority-mid: rgb(var(--priority-mid-rgb-values));
  --priority-urgent: rgb(var(--priority-urgent-rgb-values));
  --default-border-color: #426262;
  --due-date-default-color: rgb(182, 106, 182);
}

body.dark ::placeholder {
  color: #888;
}
/* body.dark button {
  color: var(--primary-font-color);
}
body.dark input {
  color: inherit;
} */

.subtle-text {
  color: var(--secondary-font-color);
}

body.dark .subtle-text {
  color: #aaa;
}

input {
  background-color: inherit;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  margin: 1px 0;
  width: 0.6em;
  height: 0.6em;
  border: 1px solid var(--default-border-color);
  border-radius: 0.15em;
  display: grid;
  place-content: center;
  transform: scale(1);
}

input[type='checkbox'].p1 {
  border: 1.8px solid var(--priority-urgent);
  background-color: rgb(var(--priority-urgent-rgb-values) / 0.1);
}
input[type='checkbox'].p2 {
  border: 1.8px solid var(--priority-mid);
  background-color: rgb(var(--priority-mid-rgb-values) / 0.1);
}
input[type='checkbox'].p3 {
  border: 1.8px solid var(--priority-low);
  background-color: rgb(var(--priority-low-rgb-values) / 0.1);
}
input[type='checkbox'].p4 {
  border: 1px solid var(--priority-default);
  /* background-color: rgb(var(--priority-default-rgb-values), 0.1); */
}

input[type='checkbox']::before {
  content: '';
  width: 0.6em;
  height: 0.6em;
  transform-origin: origin;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  opacity: 0;
  /* transition: 10ms transform ease-in-out; */
  box-shadow: inset 1em 1em var(--highlight-color);
  transition: opacity 300ms ease-in-out;
}

input[type='checkbox']:checked::before {
  transform: scale(0.5);
  opacity: 100;
}

input[type='checkbox']:not(:checked):hover::before {
  transform: scale(0.5);
  opacity: 100;
  transition: opacity 300ms ease-in-out;
  /* also possible to use background color, but box-shadow makes it printable */
  box-shadow: inset 1em 1em var(--secondary-font-color);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type='checkbox']:checked {
  background-color: var(--secondary-bg-color);
}

li {
  list-style: none;
}

button,
.button,
div.gentle-btn {
  border: none;
  display: flex;
  gap: 1em;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  background-color: inherit;
}

div.gentle-btn {
  background-color: inherit;
}

.todo-item__checkbox {
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1em auto;
}

button.add-todo {
  display: grid;
  grid-template-columns: 1em auto;
  text-align: start;
  background-color: inherit;
  padding: 0;
  border: none;
}

button.add-todo i {
  font-size: 1.2em;
  color: var(--primary-font-color);
}

button.add-todo span {
  font-size: 1em;
}

button.add-todo:hover,
button.add-todo:hover i {
  color: var(--highlight-color);
  background-color: inherit;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

input {
  accent-color: var(--highlight-color);
  outline-color: var(--highlight-color);
}

button:disabled {
  cursor: not-allowed;
}

button:hover {
  background-color: var(--button-hover-color);
}

button.gentle {
  border: 1px solid var(--default-border-color);
  background-color: inherit;
  width: max-content;
  padding: 2px 5px;
  font-size: 0.9em;
}

.dd-container {
  position: relative;
}

.priority-btn--expanded .priority-btn__level-btn {
  padding: 4px 8px;
  border: none;
}

.priority-btn__.priority-btn--expanded:hover {
  background-color: inherit;
}

.priority-btn--expanded .priority-btn__level-btn:hover {
  background-color: var(--button-hover-color);
}

.priority-btn__level-buttons-container {
  display: flex;
}

button.gentle:hover {
  background-color: var(--button-hover-color);
}

button[type='submit'] {
  color: white;
  background-color: var(--highlight-color);
}

button[type='submit']:disabled {
  background-color: var(--highlight-color-disabled);
}

div.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 225px auto;
}

.sidebar {
  background-color: var(--secondary-bg-color);
}

.sidebar > * {
  padding: 1em;
  padding-bottom: 0;
}

.sidebar__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.light-padding {
  padding: 0.2em 0.5em;
}

.sidebar .heading-btn {
  font-size: 1em;
  border: none;
  border-radius: 4px;
  background-color: inherit;
  color: var(--secondary-bg-color);
  transition: background-color 200ms;
}
.sidebar .heading-btn:hover {
  background-color: var(--button-hover-color);
}
.sidebar .heading i {
  opacity: 0;
  transition: opacity 200ms;
}
.sidebar .heading:hover i {
  opacity: 100;
}

.sidebar__projects-list {
  display: grid;
  gap: 1em;
  padding: 1.5em;
  padding-right: 0;
}

.sidebar__project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px 0 0 4px;
  padding: 1px 6px;
  font-weight: 500;
}

.sidebar__project button {
  flex: 1 1 auto;
}

.sidebar__project:has(button.delete:hover) {
  background-color: inherit;
}

.sidebar__project button.delete {
  flex: 0 1 auto;
  opacity: 0;
}

.sidebar__project:hover button.delete {
  opacity: 1;
}

.sidebar__project button.delete:not(disabled):hover {
  color: var(--highlight-color);
  background-color: inherit;
}

.sidebar__input-form {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1px 6px;
}

.sidebar__input-form input,
.section__new-section-name-input {
  background-color: inherit;
  border: none;
  outline: none;
  border-bottom: 0.5px solid var(--default-border-color);
}

.sidebar__project input:focus {
  border-bottom: solid var(--highlight-color);
}

.sidebar__project.active {
  background-color: var(--main-bg-color);
}

.sidebar__project:hover {
  background-color: var(--button-hover-color);
}

div.main-window {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  padding: 3em 5em;
}

div.main-window h1 {
  padding-bottom: 0.5em;
}

.section {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.section > * {
  padding: 8px 0;
}

.todo-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 0.5px solid var(--default-border-color);
}

.todo-item__todo-info.done {
  color: var(--secondary-font-color);
  text-decoration: line-through;
}

.todo-item__todo-info > div {
  display: flex;
  align-items: center;
}

.todo-item__description {
  font-size: 0.9em;
  color: var(--secondary-font-color);
}

.todo-item__due-date {
  display: flex;
  gap: 0.5em;
  font-size: 0.9em;
  color: var(--secondary-font-color);
}

.todo-item__due-date.on-time {
  color: var(--due-date-default-color);
}

.todo-item__due-date.overdue {
  color: rgb(179, 0, 0);
}

.todo-item__due-date.completed {
  color: rgb(0, 184, 18);
}

form.task-form {
  display: grid;
  grid-template-rows: 1fr;
  background-color: inherit;
  border: 1px solid var(--default-border-color);
  border-radius: 10px;
}

form.task-form input[type='text'] {
  padding: 2px 0;
}

form.task-form input {
  outline: none;
}

.task-editing-area__ input[type='text'] {
  width: 100%;
  border: none;
}

.task-details-area__ input[type='text'] {
  width: 10ch;
}

form.task-form input[type='text']:first-child {
  font-weight: 500;
}

.task-details-area__ {
  display: flex;
  gap: 0.5em;
  padding: 0.9em 0 0 0;
}

.task-form-footer__buttons {
  display: flex;
  gap: 0.8em;
}

.task-form-footer__buttons > * {
  border: none;
  font-weight: 500;
  padding: 3px 10px;
}

.task-form-footer__project-selector {
  display: grid;
  align-items: center;
  cursor: pointer;
  color: var(--primary-font-color);
  background-color: inherit;
  border-radius: 4px;
  font-weight: 500;
  padding: 3px 10px;
}

.task-form-footer__project-selector:hover {
  background-color: var(--button-hover-color);
}

.task-form-footer__ {
  padding: 0.6em 0.8em;
}

.task-editing-area__ {
  padding: 0.8em;
}

.task-form-footer__ {
  border-top: 1px solid var(--default-border-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.p4 {
  color: var(--priority-default);
}
.p3 {
  color: var(--priority-low);
}
.p2 {
  color: var(--priority-mid);
}
.p1 {
  color: var(--priority-urgent);
}

.due-date-btn__date-input {
  background-color: inherit;
  cursor: pointer;
}

button.section__add-section-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  opacity: 0;
  font-weight: 500;
  color: var(--highlight-color);
  transition: opacity 300ms;
}

button.section__add-section-button::before,
button.section__add-section-button::after {
  content: '';
  height: 1px;
  background-color: var(--highlight-color);
  flex: 1 1 auto;
  opacity: 0.5;
}

button.section__add-section-button:hover {
  opacity: 1;
}

.section-header {
  display: flex;
  border-bottom: 0.5px solid var(--default-border-color);
}

.section-header__title {
  flex: 1 1 auto;
}

.section-header__title,
.section__new-section-name-input {
  font-size: 1.2em;
  font-weight: 500;
}

.section-header__actions {
  display: flex;
  flex: 0 1 auto;
}

.section__new-section-name-input {
  width: 50%;
  border-color: var(--highlight-color);
}
