@import './reset.css';

:root {
  --main-bg-color: rgb(255 255 255);
  --secondary-bg-rgb-values: 248 246 240;
  --secondary-bg-color: rgb(var(--secondary-bg-rgb-values));
  --primary-font-color: black;
  --secondary-font-color: rgb(93 93 93);
  --highlight-color: #d74057;
  --highlight-color-disabled: rgb(224 131 145);
  --priority-default-rgb-values: 170 170 170;
  --priority-urgent-rgb-values: 215 64 87;
  --priority-low-rgb-values: 85 111 68;
  --priority-mid-rgb-values: 255 209 49;
  --priority-urgent-rgb-values: 215 64 87;
  --priority-default: rgb(var(--priority-default-rgb-values));
  --priority-low: rgb(var(--priority-low-rgb-values));
  --priority-mid: rgb(var(--priority-mid-rgb-values));
  --priority-urgent: rgb(var(--priority-urgent-rgb-values));
  --button-hover-color: #ddd;
  --default-border-color: #ccc;
}

/* Style reference https://moderncss.dev/pure-css-custom-checkbox-style/ */
input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  margin: 1px 0;
  width: 0.6em;
  height: 0.6em;
  border: 1px solid #aaa;
  border-radius: 0.15em;
  display: grid;
  place-content: center;
  transform: scale(1);
}

input[type='checkbox'].p1 {
  border: 1.8px solid var(--priority-urgent);
  background-color: rgb(var(--priority-urgent-rgb-values) / 0.1);
}
input[type='checkbox'].p2 {
  border: 1.8px solid var(--priority-mid);
  background-color: rgb(var(--priority-mid-rgb-values) / 0.1);
}
input[type='checkbox'].p3 {
  border: 1.8px solid var(--priority-low);
  background-color: rgb(var(--priority-low-rgb-values) / 0.1);
}
input[type='checkbox'].p4 {
  border: 1px solid var(--priority-default);
  /* background-color: rgb(var(--priority-default-rgb-values), 0.1); */
}

input[type='checkbox']::before {
  content: '';
  width: 0.6em;
  height: 0.6em;
  transform-origin: origin;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  opacity: 0;
  /* transition: 10ms transform ease-in-out; */
  box-shadow: inset 1em 1em var(--highlight-color);
  transition: opacity 300ms ease-in-out;
}

input[type='checkbox']:checked::before {
  transform: scale(0.5);
  opacity: 100;
}

input[type='checkbox']:not(:checked):hover::before {
  transform: scale(0.5);
  opacity: 100;
  transition: opacity 300ms ease-in-out;
  /* also possible to use background color, but box-shadow makes it printable */
  box-shadow: inset 1em 1em rgba(56, 56, 56, 0.3);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

li {
  list-style: none;
}

button,
.button,
div.gentle-btn {
  border: none;
  display: flex;
  gap: 1em;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  background-color: inherit;
}

div.gentle-btn {
  background-color: #eee;
}

.todo-item__checkbox {
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1em auto;
}

button.add-todo {
  display: grid;
  grid-template-columns: 1em auto;
  text-align: start;
  color: var(--secondary-font-color);
  background-color: var(--main-bg-color);
  padding: 0;
  border: none;
}

button.add-todo i {
  font-size: 1.2em;
  color: #aaa;
}

button.add-todo span {
  font-size: 1em;
}

button.add-todo:hover,
button.add-todo:hover i {
  color: var(--highlight-color);
  background-color: inherit;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

input {
  accent-color: var(--highlight-color);
  outline-color: var(--highlight-color);
}

button:disabled {
  cursor: not-allowed;
}

button:hover {
  background-color: #ddd;
}

button.gentle {
  border: 1px solid #ccc;
  background-color: inherit;
  width: max-content;
  padding: 2px 5px;
  font-size: 0.9em;
}

.dd-container {
  position: relative;
}

/* dropdown styles */
.dropdown {
  display: flex;
  position: absolute;
  top: 20px;
  border: solid var(--default-border-color);
  border-radius: 2px;
  box-shadow: 3px 3px #ccc;
  background-color: white;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
}

.dropdown__list-holder {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 0;
}

.dropdown__item {
  display: flex;
  list-style: none;
  flex: 1 1 auto;
  white-space: nowrap;
  padding: 0.5em;
}

.dropdown__item:hover {
  background-color: #f9f9f9;
  font-weight: 700;
}

.dropdown.hidden {
  display: none;
}
/* end dropdown styles */

.priority-btn--expanded .priority-btn__level-btn {
  padding: 4px 8px;
  border: none;
}

.priority-btn__.priority-btn--expanded:hover {
  background-color: inherit;
}

.priority-btn--expanded .priority-btn__level-btn:hover {
  background-color: #eee;
}

.priority-btn__level-buttons-container {
  display: flex;
}

button.gentle:hover {
  background-color: #eee;
}

button[type='submit'] {
  color: white;
  background-color: var(--highlight-color);
}

button[type='submit']:disabled {
  background-color: var(--highlight-color-disabled);
}

div.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 225px auto;
}

.sidebar {
  background-color: var(--secondary-bg-color);
}

.sidebar > * {
  padding: 1em;
  padding-bottom: 0;
}

.sidebar__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar .heading-btn {
  font-size: 1em;
  padding: 0 0.5em;
  border: none;
  border-radius: 4px;
  background-color: inherit;
  color: var(--secondary-font-color);
  transition: background-color 200ms;
}
.sidebar .heading-btn:hover {
  background-color: var(--button-hover-color);
}
.sidebar .heading i {
  opacity: 0;
  transition: opacity 200ms;
}
.sidebar .heading:hover i {
  opacity: 100;
}

.sidebar__projects-list {
  display: grid;
  gap: 1em;
  padding: 1.5em;
  padding-right: 0;
}

.sidebar__project {
  display: flex;
  align-items: center;
  justify-items: space-between;
  border-radius: 4px 0 0 4px;
  padding: 1px 6px;
  font-weight: 500;
}

.sidebar__project button {
  flex: 1 1 auto;
}

.sidebar__project:has(button.delete:hover) {
  background-color: inherit;
}

.sidebar__project button.delete {
  flex: 0 1 auto;
  opacity: 0;
}

.sidebar__project:hover button.delete {
  opacity: 1;
}

.sidebar__project button.delete:not(disabled):hover {
  color: var(--highlight-color);
  background-color: inherit;
}

.sidebar__input-form {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1px 6px;
}

.sidebar__input-form input,
.section__new-section-name-input {
  background-color: inherit;
  border: none;
  outline: none;
  border-bottom: 0.5px solid var(--secondary-font-color);
}

.sidebar__project input:focus {
  border-bottom: solid var(--highlight-color);
}

.sidebar__project.active {
  background-color: var(--main-bg-color);
}

.sidebar__project:hover {
  background-color: var(--button-hover-color);
}

div.main-window {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  padding: 3em 5em;
}

div.main-window h1 {
  padding-bottom: 0.5em;
}

.section {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.section > * {
  padding: 8px 0;
}

.todo-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 0.5px solid #ddd;
}

.todo-item__todo-info.done {
  color: var(--secondary-font-color);
  text-decoration: line-through;
}

.todo-item__todo-info > div {
  display: flex;
  align-items: center;
}

.todo-item__description {
  font-size: 0.9em;
  color: var(--secondary-font-color);
}

.todo-item__due-date {
  display: flex;
  gap: 0.5em;
  font-size: 0.9em;
  color: var(--secondary-font-color);
}

.todo-item__due-date.on-time {
  color: rgb(137, 34, 137);
}

.todo-item__due-date.overdue {
  color: rgb(179, 0, 0);
}

.todo-item__due-date.completed {
  color: rgb(0, 184, 18);
}

form.task-form {
  display: grid;
  grid-template-rows: 1fr;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
}

form.task-form input[type='text'] {
  padding: 2px 0;
}

form.task-form input {
  outline: none;
}

.task-editing-area__ input[type='text'] {
  width: 100%;
  border: none;
}

.task-details-area__ input[type='text'] {
  width: 10ch;
}

form.task-form input[type='text']:first-child {
  font-weight: 500;
}

.task-details-area__ {
  display: flex;
  gap: 0.5em;
  padding: 0.9em 0 0 0;
}

.task-form-footer__buttons {
  display: flex;
  gap: 0.8em;
}

.task-form-footer__buttons > * {
  border: none;
  font-weight: 500;
  padding: 3px 10px;
}

.task-form-footer__project-selector {
  display: grid;
  align-items: center;
  cursor: pointer;
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  font-weight: 500;
  padding: 3px 10px;
}

.task-form-footer__project-selector:hover {
  background-color: #eee;
}

.task-form-footer__ {
  padding: 0.6em 0.8em;
}

.task-editing-area__ {
  padding: 0.8em;
}

.task-form-footer__ {
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.p4 {
  color: var(--priority-default);
}
.p3 {
  color: var(--priority-low);
}
.p2 {
  color: var(--priority-mid);
}
.p1 {
  color: var(--priority-urgent);
}

.due-date-btn__date-input {
  /* display: flex; */
  background-color: inherit;
  cursor: pointer;
}

button.section__add-section-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  opacity: 0;
  font-weight: 500;
  color: var(--highlight-color);
  transition: opacity 300ms;
}

button.section__add-section-button::before,
button.section__add-section-button::after {
  content: '';
  height: 1px;
  background-color: var(--highlight-color);
  flex: 1 1 auto;
  opacity: 0.5;
}

button.section__add-section-button:hover {
  opacity: 1;
}

.section-header {
  display: flex;
  border-bottom: 0.5px solid #ddd;
}

.section-header__title {
  flex: 1 1 auto;
}

.section-header__title,
.section__new-section-name-input {
  font-size: 1.2em;
  font-weight: 500;
}

.section-header__actions {
  display: flex;
  flex: 0 1 auto;
}

.section__new-section-name-input {
  width: 50%;
  border-color: var(--highlight-color);
}
